body{
    font:poppins;
    margin:0px;
    padding:0px;
    min-height:100vh;
}
/* header section */
.header{
    width:83.33%;
    margin:0px auto;
    margin-bottom:100px;
}
/* nav section */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:50px;
    margin-bottom:50px;
}
.nav-title{
    font-size:24px;
    font-weight: bold;
    color: #3A3A3A;
}
.nav-links{
    display: flex;
    gap:35px;
}
.nav-links li{
    list-style: none;
}
.nav-links a{
    text-decoration: none;
    font-size:16px;
    font-weight: SemiBold;
    color: #3A3A3A;
}
.nav-links i{
    color: #000000;
}
/* banner section */
.banner{
    display: flex;
   justify-content: space-between;
    align-items: center;
}
.banner-content{
    width:40%;
}
.banner-title{
    font-size: 52px;
    font-weight: bold;
    color: #3A3A3A;
    margin-top:10px;
    margin-bottom:10px;
}
.banner-description{
    font-size: 16px;
    font-weight: SemiBold;
    color: #3A3A3A;
}
.banner-button{
    border: none;
    border-radius:41px;
    background-color: #E02C6D;
    color:#FFFFFF;
    font-size: 16px;
    font-weight: bold;
    padding:10px 24px;
    position:relative;
    margin-top:15px;
}
.banner-button i{
   position:relative;
   left:8px;
}
.banner-img{
    background-image: url(../images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-size:contain;
}
/* main section */
/* company logo */
.companies-logo{
        border-top:1px solid rgba(192, 204, 218, 0.2);
        border-bottom:1px solid rgba(192, 204, 218, 0.2);
        width:77%;
        margin:0px auto;
        display:flex;
        justify-content: space-evenly;
        gap:50px;
        padding:35px 0px;
        margin-bottom:100px;
    }
    /* popular section */
    .popular-collection{
        width:72.71%;
        margin:0px auto;
        margin-bottom:100px;
    }
    .section-title{
        font-size:28px;
        font-weight: SemiBold;
        color: #3A3A3A;
        text-align: center;
        margin-bottom:50px;
    }
    .collection-box{
        display: grid;
        grid-template-columns:repeat(3,1fr);
        gap:20px;
    }
    .box-title{
        font-size:28px;
        font-weight:Medium;
        color: #18191F;
        margin-top:10px;
        margin-bottom:5px;
    }
    .box-subtitle{
        font-size:24px;
        font-weight:regular;
        color: #000000;
        margin-top:5px;
        margin-bottom:0px;
    }
    .box-des{
        font-size:14px;
        font-weight:bold;
        color: #787885;
        margin-top:5px;
        margin-bottom:5px;
    }
    .ratings{
        display: flex;
        gap:10px;
        align-items: center;
        margin-top:0px;
        margin-bottom:0px;
    }
    .ratings no{
        font-size:14px;
        font-weight:bold;
        color: #5E6366;
    }
    .box{
        padding:15px;
        border:none;
        border-radius:5px;
        background-color: #FFFFFF;
        box-shadow:0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    }
    .box .img{
        width:100%;
    }
    .collection-button{
        margin-top: 30px;
        margin-left:1260px;
    }
    .collection-button button{
        border:none;
        background-color: #FFFFFF;
        color: rgba(224, 44, 109, 0.87);
        font-size:16px;
        font-weight:bold;
    }
    .collection-button i{
        margin-left:15px;
    }
@media screen and (max-width:576px) {
    .navbar{
        flex-direction: column;
    }
    .banner{
        flex-direction: column-reverse;
        gap:20px;
    }
    .nav-links{
       flex-direction: row;
       margin-right:40px;
    }
    .banner-img img{
        width: 100%;
    }
    .banner-content{
        width:100%;
        text-align: center; 
    }
    .banner-title{
        font-size:30px;
    }
    .banner-description{
        font-size: 20px;
    }
    .companies-logo{
       gap:20px;
       flex-wrap: wrap;
       justify-content: center;
       align-items: center;
    }
    .collection-box{
        grid-template-columns: repeat(1,1fr);
    }
    .collection-button{
        margin-left:150px;
    }
}


